
<script type="text/javascript">

    $(document).ready(function() {

        //fullpage.js
        $('#fullpage').fullpage({
            anchors:['home', 'info', 'schedule', 'projects', 'footer'],
            sectionsColor: ['#333', '#008348', '#333', '#fffff', '#000'],
            loopHorizontal: false,
            menu: '#myMenu',
        });

    });  

    //http://stackoverflow.com/questions/38264469/block-scroll-on-modal-open
    $(document).on('shown.bs.modal', function() {
      $.fn.fullpage.setAllowScrolling(false);
      $.fn.fullpage.setKeyboardScrolling(false);
    });

    $(document).on('hidden.bs.modal', function() {
      $.fn.fullpage.setAllowScrolling(true);
      $.fn.fullpage.setKeyboardScrolling(true);
    });

</script>


<!--using modals instead of accordians
<script>
  $(function() {
    $('table').accordion({header: 'h4.category', collapsible: true, active: false  });
  });
</script>
-->

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/customized_style.css" />


{% include modals.html %}

<!-- Header -->
<div id="header-wrapper">
  <div id="header">

    <nav id="nav">
        <ul id="myMenu">
          <li data-menuanchor="home" class="active"><a href="{{ site.baseurl }}/index.html#home">Home</a></li>
          <li data-menuanchor="info"><a href="{{ site.baseurl }}#info" id="about-button">Info</a></li>

          <li data-menuanchor="schedule">
            <a href="{{ site.baseurl }}/index.html#schedule">Schedule</a>
          </li>

          <li data-menuanchor="projects">
            <a href="{{ site.baseurl }}/index.html#projects">Projects</a>
          </li>

    <!--
          <li data-menuanchor="agendaPage"><a href="{{ site.baseurl }}/index.html#agendaPage" id="agenda-button">Agenda</a></li>-->

          <li>

          <!--<a href="http://twitter.com/home?status=Join me at the %23AAGMapathon for a fun way to learn open mapping and to contribute data to humanitarian initiatives"><img src="{{ site.baseurl }}/assets/images/Twitter_Logo_Blue.png" width="32" style="top:0px;position:relative"></a>-->



<a href="https://twitter.com/share" class="twitter-share-button" data-text="Join me at the #AAGMapathon for a fun way to learn open mapping and to contribute data to humanitarian initiatives" data-url="http://aagmapathon.org/" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


          </li>
        </ul>
    </nav>


    <div id="fullpage">

      <div class="section">
        <div class="slide active">
          <div id="title">
            <h1 class="main-title">The 2nd Mapathon @ AAG</h1>
            <h2 class="sub-title">April 6–8, Boston</h2>
            <div class="quiet" id="description" style="font-size:20px">Join us to support humanitarian efforts and map during the AAG Conference</div> 

<!--
                  <a href="{{ site.baseurl }}/index.html#projectPage" class="button"> RSVP today!</a>
                -->

<!--
                  <div class="attribution-block">Map designed by <a href="https://www.mapbox.com/about/team/#eric-fischer">Eric Fisher</a> <a href="https://www.mapbox.com/about/maps/">©Mapbox</a> <a href="http://www.openstreetmap.org/about/">©OpenStreetMap</a></div>
-->
          </div>
          <div id="banner"></div>
        </div>
      </div>


      <!-- Intro -->
      <div class="section">
            <div class="row" id="boat" style="font-size:20px">
                <div id="summary-text" >
                    <!--<h1>Map with Us</h1>-->
                    <br>
                    <div class="description" >
                        This is the 2nd year that Mapathons and Mapathon related activities will be hosted at AAG. Conference attendees can join a community of online mappers and contribute to OpenStreetMap for humanitarian efforts. Using satellite imagery and freely available OpenStreetMap editing platforms, participants will trace, edit, and label key infrastructure (buildings, roads, etc.), environmental features, and other objects for the creation of openly available real data to produce maps that assist humanitarian and community efforts. 
                        <br> <br>
                        The Mapathon events will feature a wide array of impactful speakers from academia, government, and the private sector. The first Mapathon on Friday afternoon will be hosted on the MIT campus, with mapping projects supporting the Presidential Emergency Plan for Aids Relief (PEPFAR). The Mapathon on Saturday afternoon will be held in the AAG Mapathon lounge and will feature select mapping projects in South America. All Mapathon events are open to the public, you just need to RSVP. 
                        <br> <br>
                        The Mapathons will promote themes of shared humanitarian interest, and mapping will be coordinated through the Humanitarian OpenStreetMap Team’s Tasking Manager. Recognizing the power that Mapathons have to educate, engage, and empower the public, the organizers hope that at the end of the conference, participants will have made significant contributions towards improved maps to support humanitarian response and sustainable development efforts. For more information about the Mapathons and related AAG activities, please e-mail  <span class="bold"><a href="mailto:MapGive@state.gov">MapGive@state.gov</a></span>.
                        <br> <br>
                        The core organizers of the Mapathon @ AAG include the U.S. Department of State's Office of the Geographer and Global Issues, USAID's GeoCenter, and George Mason University's Department of Geography and GeoInformation Science.
                        <p><p>
                    </div>
                </div>

                <div id="summary-section">

                      <div class="summary-section-text">
                        <!--<a href="{{ site.baseurl }}/index.html#projectPage" class="button" style="margin-top:5px"> RSVP today!</a>
                        </br>-->
                        <a href="https://www.eventbrite.com/e/mit-mapathon-tickets-31941662372" target="_blank" class="button" style="margin-top:5px;margin-bottom: 5px;"> RSVP for MIT Mapathon on Friday, April 7. This event is open to the public.</a>
                        </br>
                      </div>
                      </br>
                      <div class="summary-section-text">
                        <!--<a href="{{ site.baseurl }}/index.html#projectPage" class="button" style="margin-top:5px"> RSVP today!</a>
                        </br>-->
                        <!--<a href="https://www.eventbrite.com/e/mapathon-aag-tickets-31543744188" target="_blank" class="button" style="margin-top:5px;margin-bottom: 5px;"> RSVP for Mapathon on Saturday, April 8</a>-->
                        <div class="button" style="margin-top:5px;margin-bottom: 5px;">Mapathon on Saturday, April 8</div>
                        </br>
                        For AAG Annual Meeting registrants, no RSVP is required to participate for the Saturday Mapathon. Registration is now closed for non-AAG Annual Meeting registrants.
                      </div>
                      </br>
                      <div class="summary-section-text">
                        Host a satellite event. Your event doesn’t have to be at the exact same time as the mapathon at AAG. We encourage you to schedule a time and place that works for you.
                        </br>
                        <a href="https://docs.google.com/forms/d/1BnZS-i3yNHxV7JfOAfoiEt9ePfJoIpza35XqdRyC1t4/viewform?c=0&w=1" class="button alt small" target="_blank" style="margin-top:5px">Register a Satellite Event</a>
                      </div>

                </div>

            </div>
        </div>


    <div class="section">

          <div class="slide active" data-anchor="slide1">

              <div id="main-wrapper">
                <div class="container">
                  <article class="box post">
                      
                      <h2 id="wednesday">Wednesday, April 5</h2>

                      <h3 style="padding-top:10px">All events will take place in the Mapathon Lounge in Room 206, Hynes Second Level. Posters will be on display throughout the conference.</h3>


                      <table border="0">
                      <tr>
                          <td class="event-time">8:00AM – 9:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-social-1"><span class="paper-session">Paper session</span> <div>Information geographies: Social dimensions of Web 2.0 cartographies</div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>10:00AM – 11:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-social-2"><span class="paper-session">Paper session</span>Information geographies: Social dimensions of Web 2.0 cartographies II
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>1:20PM – 3:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-social-panel"><span class="panel-session">Panel session</span> <div>Information Geographies: Data, democracy, and improving the world with critical VGI</div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>6:00PM – 7:00PM</td>
                          <td class="event-content" data-toggle="modal" data-target="#myModal-offsite">
                            <a><h4 class="category">Offsite: Visualizing for Justice - Creative, Critical and Contestational Mapping
                            </h4>
                          </td></a>
                       </tr>
                     </table>

                  </article>
                </div>
              </div>

          </div>

          <div class="slide" data-anchor="thursday">

              <div id="main-wrapper">
                <div class="container">
                  <article class="box post">
                      <h2 id="wednesday">Thursday, April 6</h2>
                      <h3 style="padding-top:10px">All events will take place in the Mapathon Lounge in Room 206, Hynes Second Level</h3>

                      <table border="0">
                      <tr>
                          <td class="event-time">8:00AM – 9:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-vgi-approaches"><span class="paper-session">Paper session</span> <div>Participatory Research in Geography: Approaches </div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>10:00AM – 11:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-vgi-techniques"><span class="paper-session">Paper session</span>Participatory Research in Geography: Techniques
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>11:40AM – 1:20PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mapjam-1"> <div>Map Jam I</div>
                            </h4></a.
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>1:20PM – 3:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-vgi-expectations"><span class="panel-session">Panel session</span> <div>Participatory Research in Geography: Expectations, Expertise, and Engagement </div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>3:20PM – 5:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-vgi-disaster"><span class="paper-session">Paper session</span>Participatory Research in Geography: Disaster
                            </h4></a>
                          </td>
                       </tr>
                       <!--
                       <tr>
                          <td class='event-time'>5:20PM – 7:00PM</td>
                          <td class="event-content" data-toggle="modal" data-target="#myModal-thurs-6">
                            <a><h4 class="category">TBD
                            </h4>
                          </td></a>
                       </tr>
                     -->
                     </table>

                  </article>
                </div>
              </div>

          </div>

          <div class="slide" data-anchor="friday">

              <div id="main-wrapper">
                <div class="container">
                  <article class="box post">
                      <h2 id="wednesday">Friday, April 7</h2>
                      <h3 style="padding-top:10px">Morning events will take place in the Mapathon Lounge. Afternoon event is at MIT campus.</h3>
                      <table border="0">
                      <tr>
                          <td class="event-time">8:00AM – 9:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mapjam-2">Map Jam II</div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>10:00AM – 11:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-2c"><span class="panel-session">Panel session</span>Secondary Cities: Mapping Human Geography Data 
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>11:40AM – 1:20PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mit-commute">Lunch Break and Commute to MIT
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>1:30PM – 6:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mit-mapathon"><span class="panel-session mapathon">Mapathon</span> <div>Mapathon @ MIT</div>
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>6:00PM – 8:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mit-after-hour-event">After Hours Event
                            </h4></a>
                          </td>
                       </tr>
                     </table>

                  </article>
                </div>
              </div>

          </div>

          <div class="slide" data-anchor="saturday">

                  <div id="main-wrapper">
                <div class="container">
                  <article class="box post">
                      <h2 id="wednesday">Saturday, April 8</h2>
                      <h3 style="padding-top:10px">All events will take place in the Mapathon Lounge in Room 206, Hynes Second Level</h3>

                      <table border="0">
                      <!--<tr>
                          <td class="event-time">8:00AM – 9:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-saturday-1"><span class="panel-session">Paper session</span>                          TBD
                            </h4></a>
                          </td>
                       </tr>
                       <tr>-->
                          <td class='event-time'>10:00AM – 11:40AM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-osm-research"><span class="paper-session">Paper session</span>OpenStreetMap in Research, Education, and Applied Projects
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>11:40AM – 1:20PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-boundless"><span class="panel-session">Panel session</span> Resources for Expanding Open Geospatial Education
                            </h4></a>
                            <div class="event-description">
                              
                            </div>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>1:20PM – 3:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mapternoon"><span class="panel-session mapathon">Mapathon</span> Saturday Mapternoon
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>3:20PM – 5:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-mapternoon"><span class="panel-session mapathon">Mapathon</span>Mapternoon continued
                            </h4></a>
                          </td>
                       </tr>
                       <tr>
                          <td class='event-time'>5:20PM – 7:00PM</td>
                          <td class="event-content">
                            <a><h4 class="category" data-toggle="modal" data-target="#myModal-saturday-6">Offsite: Informal Happy Hour
                            </h4></a>
                          </td>
                       </tr>
                     </table>

                  </article>
                </div>
              </div>

          </div>

    </div>

    <div class="section">
      <!-- projects section -->
      <h1> Map Jam I </h1>
      <p>
        <a href="http://hotosm.github.io/tracing-guides/guide/josm101-part1.html" target="_blank">JOSM 101: Part I</a>
        <br>
        <a href="http://hotosm.github.io/tracing-guides/guide/josm101-part2.html" target="_blank">JOSM 101: Part II</a>
      </p>
      <h2> other useful JOSM links </h2>
      <p>
        MapBox has great <a href="https://www.mapbox.com/mapping/" target="_blank">resources on JOSM and advanced mapping</a>
      </br>
        <a href="https://josm.openstreetmap.de/wiki/Shortcuts" target="_blank">JOSM shortcuts</a>
      </p>

      <h1> Mapathon @ MIT </h1>
      <p>
        <a href="http://tasks.hotosm.org/project/2637" target="_blank">San Pedro, Cote d'Ivoire #2637</a>
        <br>
        <a href="http://tasks.hotosm.org/project/2556" target="_blank">Mbeya, Tanzania #2556</a>
      </p>

<!--
      <h1> Saturday Mapternoon </h1>
      <p>
        <a href="http://hotosm.github.io/tracing-guides/guide/josm101-part1.html" target="_blank">JOSM 101: Part I</a>
        <br>
        <a href="http://hotosm.github.io/tracing-guides/guide/josm101-part2.html" target="_blank">JOSM 101: Part II</a>
      </p>
-->

    </div>




